<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Generator</title>
</head>
<body>
    <p>Total Sales : <%= totalSales %></p>
    <p>Total Users : <%= totalUsers %></p>
    <p>New Orders : <%= latestOrders %></p>
    <p>Date : <%= formattedDate %></p>
    
</body>
</html>
