#couponContainerBox{
    width: 35vw;
    height: 530px;
    background-color: white;
    border-radius: 20px;
    margin-left: 17vw;
    margin-top: 20px;
}
.add-txt{
    font-size: 29px;
    margin-left: 23vw;
    text-decoration: none;
    
}
.cat-mainhead{
    font-size: 25px;
    font-weight: 600;
    padding-left: 11vw;
    padding-top: 30px;
}

.label-txt{
    display: block;
    font-size: 13px;
    margin-left: 40px;
    padding-top: 20px;
}
.cat-inputbox{
    margin-left: 40px;
    width: 31vw;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(204, 202, 202);
    margin-top: 4px;
}
.discount{
    margin-left: 40px;
    width: 14.1vw;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(204, 202, 202);
    margin-top: 4px;
}
.useAbove{
    margin-left: 10px;
    width: 14.3vw;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(204, 202, 202);
    margin-top: 4px;
}
.useAbovelabel-txt{
    font-size: 13px;
    margin-left: 40px;
    padding-top: 20px;
    margin-left: 10px;
}
#exp::placeholder {
   font-size: 10px;
   margin-left: 20px
}
::placeholder{
    margin-left: 20px;
    padding: 10px;
}
.cat-btn{
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    width: 130px;
    height: 30px;
    font-size: 13px;
    margin-left: 13vw;
    margin-top: 20px;
}
.categoryadd-success{
	width: 291px;
	height: 40px;
	/* background-color: white; */
	/* color: #19b319; */
	margin-left: 344px;
	
	/* border-radius: 5px; */
}
#categoryaddSuccessMessage{
	background-color: white;
	color: #19b319;
	padding: 5px;
	border-radius: 5px;
	padding-top: 7px;
	padding-left: 15px
}
.exist-txt{
    margin-left: 70px;
    margin-top: 10px;
    color: red;
    font-size:13px;
}



/* css for sidebar menu activation */
.admin-links {
    text-decoration: none;
    color: rgb(99, 98, 98);
}
.admin-links:hover,
.admin-links:active,
.admin-links:focus {
    color: #050505;
    font-weight: 500;
}
.active {
    background-color: #e0dce1; 
    border-radius: 20px;
    padding-left: 5px;
    width: 175px;
}
/* /css for sidebar menu activation */


