/* *********************** data table  ************************ */
.table-data-section{
	width: 79vw;
	position: absolute;
	top: 80px;
	left: 300px;
	background-color: #edebe7;
	min-height: 50vw;
}
.head-part{
	margin-left: 40px;
	margin-top: 10px;
}
.breadcrumb a{
	color: black;
	background-color: #ddd5d5;
	border-radius: 10px;
	padding: 1px 5px 1px 5px;
}
/* dropdown */
.dataTables_length  {
    padding: 5px;
    background-color: white; 
    color: #333; 
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
}
.dataTables_filter{
	position: relative;
	left: -43px;
	top: 28px;
	margin-right: -17px;
}
.dataTables_filter input{
	width: 270px;
}
.dataTables_wrapper .dataTable thead th {
	background-color: #6791c1;
	color: white;
}

.dataTables_wrapper .dataTable tbody td {
	font-size: 14px;
}

.dataTables_filter input {
	border: 1px solid #4CAF50;
	padding: 5px;
}
.notBlockedBtn{
	background-color: black;
	width: 40px;
	color: white;
	width: 68px;
	border: 1px solid black;
	border-radius: 3px;
}
.blockedBtn{
	background-color: #e42929;
	width: 40px;
	color: white;
	width: 68px;
	border: 1px solid #e42929;
	border-radius: 3px;
}
.paginate_button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 5px 10px;
}
.dataTables_info{
	margin-left: 20px;
}
.dataTables_paginate{
	position: relative;
	left: -30px;
	top: 5px;
}
.dataTables_paginate paging_simple_numbers{
	margin-right: -21px;

}
/* *********************** data table  ************************ */


/* css for sidebar menu activation */
.admin-links {
    text-decoration: none;
    color: rgb(99, 98, 98);
}
.admin-links:hover,
.admin-links:active,
.admin-links:focus {
    color: blue;
    /* font-weight: 500; */
}
.active {
    /* background-color: #e0dce1;  */
    border-radius: 20px;
    padding-left: 5px;
    width: 147px;
}
/* /css for sidebar menu activation */


.pcoded .pcoded-navbar .pcoded-item > li.active > a {
    font-weight: 400;
}


